name: test
on:
  push:
    branches:
      - "renovate/**"
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Set up Bazel
        uses: bazel-contrib/setup-bazel@0.17.0
        with:
          bazelisk-cache: true
          disk-cache: ${{ github.workflow }}-build
          repository-cache: true

      - name: Build and test image
        run: bazelisk test -c opt //...
